@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;200;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-color: #12100E;
    --secondary-color: #E8E1EF;
    --third-color: #32DE84;
    --fourth-color: #1A1A1A;

    --warn-color: #FFC107;
    --error-color: #E63946;
    --font-fira-sans: 'Fira Sans Extra Condensed', sans-serif;
    --font-oxygen: 'Oxygen', sans-serif;
    --font-arimo: 'Arimo', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fira-sans)
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    background-color: var(--primary-color);
}

ul { list-style-type: none;
}

a {
    text-decoration: none;
}

li a {
    color: white;
}

.logo {
    font-size: 20px;
    color: white;
}

.logo h2 > span {
    color: var(--third-color);
}

nav ul li {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.3em;
}

a:hover {
    color: var(--third-color);
}

button {
    border: none;
    background-color: var(--secondary-color);
    padding: 0.7em 1.1em;
    border-radius: 1.07em;
    font-weight: bold;
    font-size: 17px;
    transition:  .4s;
}

button:hover {
    cursor: pointer;
}

#sign-in {
    background-color: var(--third-color);     
}

.container {
    width: 90vw;
    margin: 0 auto;
}

section {
    padding: 10vh;
}

.header {
    align-items: center;
    justify-content: center;
}

.head-1 {
    font-size: 3em;
    text-align: center;
    color: var(--secondary-color)
}

.paragraph-1 {
    color: var(--secondary-color);
    font-weight: 250;
    font-size: 1.5rem;
    padding: 0.5em;
    margin: 0 30vh;
    text-align: center;
    line-height: 1.3
}

@media (max-width: 1171px) {
    .paragraph-1 {
        margin: 0 10vh;
    }
}

.row {
    display: flex;
    justify-content: space-around;
}

article h2 {
    color: #E8E1EF;
    margin-bottom: 40px;
    text-align: center;
    font-family: var(--font-oxygen);
}

.todo {
    color: white;
}

.list {
    color: var(--third-color);
}

article h2 span {
    font-family: var(--font-oxygen);
    color: var(--third-color);
}

article img {
    display: flex;
    margin-bottom: 70px;
    background-color: var(--fourth-color);
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    height: 400px;
}

.showing-head {
    font-family: var(--font-oxygen);
    text-align: center;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 2.5em;
}

.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--fourth-color);
    border-radius: 2em;
}

.get-started > h1 {
    font-family: var(--font-oxygen);
    margin-bottom: 1em;
    color: var(--font-oxygen);
    font-size: 2.3em;
    text-align: center;
}

.get-started > button {
    font-family: var(--font-oxygen);
    padding: 1em;
    font-size: 1.3em;
    background-color: #A1E887;
    border-radius: 4px;
}

.get-started h1 span:nth-child(1) {
    color: #FFC107;
}

.get-started h1 span:nth-child(2) {
    color: #E63946;
}

.get-started button span {
    font-family: var(--font-oxygen);
    color: #3A86FF;
}

#show-more col, h2, p {
    color: #E8E1EF;
}

.row-grid {
    margin: 0px 10%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    justify-items: center;
    align-items: center;
}

.heading-more {
    color: white;
    font-family: var(--font-arimo);
    font-size: 2em;
    line-height: 1.3;
    margin-bottom: 1em;
}

.heading-more + p {
    font-family: var(--font-arimo);
    font-size: 1.5em;
    font-weight: 400;
}

.more-img {
    width: 450px;
    height: 350px;
}

#kanban {
    color: #219EBC;
    font-style: italic;
    font-weight: bold;
    margin-right: 2px;
}

.doing {
    color: #f6bd60;
}

.done {
    color: #80B192;
}

.col-grid {
    margin-bottom: 3rem;
}

.roles {
    color: #ffd166;
}

.create {
    color: #16db65;
}

.delete {
    color: #f94144;
}

.colloborate {
    color: #4361EE;
}

.manage {
    color: #0466C8;
}

.productivity {
    color: #ff6b35;
}
