@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;200;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #12100E;
}

body {
    background-color: #12100E;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li a {
    color: white;
}

.logo {
    font-size: 20px;
    color: white;
}

.logo h2 > span {
    color: #32DE84;
}

nav ul li {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.3em;
}

a:hover {
    color: #32DE84;
}

button {
    border: none;
    background-color: #32DE84;
    padding: 0.7em 1.1em;
    border-radius: 1.07em;
    font-weight: bold;
    font-size: 17px;
    transition:  .4s;
}

button:hover {
    cursor: pointer;
}

#sign-in {
    background-color: #E8E1EF;     
}

.container {
    height: 100vh;
    width: 90vw;
    padding: 0.5em;
    margin: 0 auto;
}

section {
    padding: 10vh;
}

.header {
    align-items: center;
    justify-content: center;
}

.head-1 {
    font-size: 3em;
    text-align: center;
    color: rgb(232, 225, 239)
}

.paragraph-1 {
    color: rgb(232, 225, 239);
    font-weight: 250;
    font-size: 1.5rem;
    padding: 0.5em;
    margin: 0 30vh;
    text-align: center;
    line-height: 1.3
}

@media (max-width: 1171px) {
    .paragraph-1 {
        margin: 0 10vh;
    }
}
