@import url('css/root.css');

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

ul { list-style-type: none;
}

a {
    text-decoration: none;
}

li a {
    color: white;
}

.logo {
    font-size: 20px;
    color: white;
}

.logo h2 > span {
    color: var(--third-color);
}

nav ul li {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.3em;
}

a:hover {
    color: var(--third-color);
}

button {
    border: none;
    background-color: var(--secondary-color);
    padding: 0.7em 1.1em;
    border-radius: 1.07em;
    font-weight: bold;
    font-size: 17px;
    transition:  .4s;
}

button:hover {
    cursor: pointer;
}

#sign-in {
    background-color: var(--third-color);     
}
